body{
  font-family: 'Roboto', 'Helvetica', sans-serif; 
  padding: 0;
  margin: 0;
  background: #eee;
}

a {
  color: #4285f4;
  text-decoration: none;
  font-weight: bold;
}


/* Side By Side */

#fm-medium-embed{
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.fm-post-wrapper{
  display: inline-block;
  border-radius: 3px;
  width: 300px;
  padding: 15px;
  background: #fff;
  text-align: left;
  margin: 10px;
  min-height: 340px;
  border: 1px solid #bbb;
  box-shadow: 0 3px 15px rgba(0,0,0,0.25);
}

.fm-post-title{
  font-size: 20px;
  height: 25px;
  white-space: nowrap;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fm-post-sub-title{
  min-height: 130px;
  line-height: 24px;
  color: #333;
}

.fm-medium-profile{
  margin-top: 10px;
  padding: 5px;
  display: block;
}

.fm-medium-profile a{
  display: inline-block;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  border: 2px solid #4285f4;
  box-shadow: 0 3px 15px rgba(0,0,0,0.15);
  
}
